@charset "utf-8";

/* header영역 */
#header{
    width: 100%;
}

.logo{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo a{
    display: block;
    width: 100%;
    height: 270px;
    background: url("../img/header_txt_logo.png") no-repeat;
    background-size: 70%;
    background-position: center center;
    text-indent: -9999px;
}






/* section영역 */
.noti_title{
    width: 1400px;
    margin: 0 auto;
    margin-top: 300px;
    /* border: 1px solid red; */
    font-size: 40px;
    font-weight: bold;
}

.notice{
    width: 1400px;
    margin: 50px auto 100px;
}

.noti_list h2{
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 15px;
    padding: 0 20px;
    background-color: #FFF0E1;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.3s;
}

.noti_list h2:hover{
    background-color: #F91208;
    border-radius: 50px;
}

.noti_list h2.on{
    background-color: white;
    text-shadow: 1px 1px 10px #F91208;
}

.noti_list p{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background: url("../img/notice1.png") no-repeat;
    background-position: center center;
    background-size: 40%;
    text-align: center;
    font-size: 15px;
    line-height: 1.5em;
    padding: 200px 550px;
    display: none;
}

.noti_list span{
    float: right;
    font-size: 13px;
    font-weight: 100;
}






/* footer영역 */
#footer{
    width: 100%;
    height: 100px;
    background-color: #FFF0E1;
    /* position: fixed;
    bottom: 0;
    z-index: 1; */
}

.f_inner{
    width: 1460px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_inner p{
    font-size: 20px;
    text-align: center;
}

.f_inner .copy{
    width: 30%;
}

.f_inner img{
    width: 45px;
}

.f_logo{
    width: 30%;
    text-align: center;
    height: 100px;
}

.f_logo img{
    width: 20%;
}

.f_last{
    width: 30%;
    display: flex;
}

.num{
    margin-right: 100px;
    font-weight: bold;
}

.insta{
    margin-right: 30px;
}

.insta, .tube{
    cursor: pointer;
}







/* 반응형  max-width: 599px*/
@media screen and (max-width: 599px){

    .logo a{
        background-size: 100%;
        margin-top: -30px;
    }

    .noti_title{
        width: 90%;
    }
    
    .notice{
        width: 90%;
    }

    .noti_list{
        width: 90%;
        margin: 0 auto;
    }

    .noti_list p{
        width: 100%;
        height: 300px;
        padding: 100px 90px;
        font-size: 12px;
        background-size:100%;
        /* border: 1px solid red; */
    }

    .f_inner{
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }

    .f_inner p{
        font-size: 12px;
        text-align: center;
    }

    .f_logo img{
        width: 50%;
        object-fit: contain;
        /* border: 1px solid red; */
    }

    .f_last{
        /* border: 1px solid red; */
        padding: 0;
    }
    
    .num{
        width: 50%;
        margin-right: 0;
        /* border: 1px solid black; */
    }

    .insta{
        margin-right: -12px;
    }

    .insta, .tube{
        width: 20px;
        height: 30px;
        object-fit: contain;
        cursor: pointer;
        margin-top: 5px;
    }
}